@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

  :root {
    --font1: Verdana, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;


  }

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    min-height: 100vh;
   background-color:white;
   font-family: var(--font1);
    
}

header {
    background-color: black;    
    min-height: 160px;
}

header > h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
    font-family: var(--font2);
}

header > p{
    padding-bottom: 50px;
    color: white;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 1.5em;    

}

section > p {
    padding: 1.5em;
    
}

section.normal {
    background-color: white;
    color: black;
    
}

section.imagem {
    background-color: darkolivegreen;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
    background-size: cover;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
    
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
    
}


section.imagem > p {
    background-color: rgba(0, 0, 0, 0.329);
    display: inline-block;
    color: white;
    padding: 10px;
}

footer {
    color: white;
    background-color: black;
    padding: 10px;
    text-align: center;
}

